version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mlops_app
    ports:
      - "5001:5001"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      - mlflow
    volumes:
      - .:/app
      - ./mlruns:/mlflow/mlruns
    command: python app.py
    networks:
      - mlops-network

  main:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mlops_main
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      - mlflow
    volumes:
      - .:/app
      - ./mlruns:/mlflow/mlruns
    command: python main.py
    networks:
      - mlops-network

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_TRACKING_URI=http://localhost:5000
    volumes:
      - ./mlruns:/mlflow/mlruns
    command: >
      mlflow server 
      --backend-store-uri sqlite:///mlflow.db 
      --default-artifact-root /mlflow/mlruns 
      --host 0.0.0.0 
      --port 5000
      --allowed-hosts "*"
    networks:
      - mlops-network

networks:
  mlops-network:
    driver: bridge
