name: Docker Image CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    # BƯỚC MỚI: Đăng nhập vào Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # BƯỚC CŨ + MỚI: Build và Push luôn trong một bước
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true # Kích hoạt tính năng Push (CD)
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/mlops:latest 